/* Variables color and typography */
:root {
  --color-text: #ffffff;
  --color-primary: #fe5594;
  --color-secondary: #ff89b5;
  --color-black: #333333;

  --font-primary: "Ubuntu", sans-serif;
}



/* Text */
h1,
h2,
h3 {
  font-family: var(--font-primary);
  text-align: center;
  color: var(--color-primary);
  margin: .5rem
}

p {
  font-size: 1rem;
  font-family: var(--font-primary);
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}

/* Structure */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; /* Ocupa todo el espacio disponible */
  min-height: 0; /* Permite que los elementos internos se contraigan */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* Añadir un poco de padding para evitar que toque los bordes */
}

#root {
  min-height: 100vh; /* Usar min-height en lugar de height fija */
  display: flex;
  flex-direction: column;
}

/* NavBar */
nav,
.nav-logo,
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.nav-logo,
.nav-buttons {
  width: 50%;
  margin: 0 2rem;
}

.nav-buttons {
  justify-content: end;
}

.logo-img {
  width: 5rem;
}

.logo-img:hover{
  cursor: pointer;
  opacity: 90%;
}

/* Sections */
.col-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

/* Footer */
footer {
  background: var(--color-black);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; 
}

/* Buttons */
.btn-primary {
  color: white;
  background-color: var(--color-primary);
  width: 9rem;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.7rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-form:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.btn-form {
  color: white;
  background-color: var(--color-primary);
  width: 6rem;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.4rem;
  transition: background-color 0.3s ease;
}

.btn-form:disabled {
  background-color: var(--color-secondary);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.form-controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

label, input, select, option {
  font-family: var(--font-primary);
  accent-color: var(--color-primary); /* rojo */
}


.input-text {
  width: 20rem;
  border: 2px solid var(--color-primary);
  outline: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-family: var(--font-primary);
}

.input-color{
  border: 2px solid var(--color-primary);
  border-radius: 0.3rem;
  width: 5rem;
  height: 2.5rem;
}

/* Biography section */
.bio-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.bio-input {
  width: 100%;
  resize: none;
}

/*Profile */
.badges-container{
  /* TODO CREAR ESTILO */
}

.badge{
  background-color: var(--color-secondary);
  border-radius: 5rem;
  padding: 0.1rem 1.5rem;
}

.badge p{
  font-size: 0.7rem;
  color: white;
}


/* Responsive design */
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-logo,
  .nav-buttons {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .photos-grid {
    flex-direction: column;
  }

  main {
    padding: 0.5rem;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }
}
