/* colors variables*/
:root {
  --color-text: #ffffff;
  --color-primary: #fe5594;
  --color-secondary: #ff89b5;
  --color-black: #333333;
}


/* Text */

h1,h2, h3 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: var(--color-primary);
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.7rem;
}


/* Structure */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* NavBar */

nav,
.nav-logo,
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.nav-logo,
.nav-buttons {
  width: 50%;
  margin: 0 2rem;
}

.nav-buttons {
  justify-content: end;
}

.logo-img {
  width: 5rem;
}

.btn-primary {
  color: white;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}


/* Footer */

footer {
  background: var(--color-black);
  color: white;
  text-align: center;
  padding: 1rem;
}
